#app {
  height: 82vh;
  background-color: rgba(255,253,240,0.3);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


#title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 2vh;
  text-align: center;
  color: black;
  font-size: 300%;
  width: 50vw;

}


#footer {
  background-color: #13342c;
  /*border: 1px solid black;*/
  height: 8.8vh;
  text-align: center;
  /*position: absolute;*/
  /*width: 100vw;*/
  margin: 0;
  padding: 0;

}