#app {
  height: 82vh;
    /*background-color: #333338;*/
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid black;*/
}


#title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 2vh;
  text-align: center;
  color: floralwhite;
  font-size: 300%;
  width: 50vw;

}


#footer {
  /*background-color: lightslategrey;*/
  /*border: 1px solid black;*/
  height: 8.8vh;
  text-align: center;
  /*bottom: 100vh;*/
  /*width: 100vw;*/
  /*margin: 0;*/
  /*padding: 0;*/

}