#app {
  /*border: 1px solid black;*/
  width: 98vw;
  height: 70vh;
  margin-top: 5vh;
}



#title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5vh;
  color: black;
  font-size: 300%;

}

