version: "3.9"

services:
  backend:
    restart: always
    image: petrosan/doodle_backend:latest
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    restart: always
    image: petrosan/doodle_frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:17.6
    container_name: doodle_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d app" ]
      interval: 5s
      retries: 5
      start_period: 5s

volumes:
  postgres_data: