.typeDetail {
    /*min-width: 10vw;*/
    padding: 5%;
    /*font-size: 120%;*/
    /*margin-right: 1vw;*/
    margin-top: 1vh;
    margin-right: 1vh;
    vertical-align: top;
    display: block;
    /*width: fit-content;*/
    border: 1px solid black;
    /*width: 10vw;*/
    /*border-radius: 0px;*/
    background-color: white;
}

.typeDetail:hover {
    background-color: lightblue;
}

.typeDetailTitle {
    font-weight: bold;

}

.typeDetailContent {
    line-height: 200%;
}

.typeDetail:hover {
    cursor: pointer;
}

.typeDetailRename {
    line-height: 110%;
    margin-right: 0.3vw;
}

.t-Schema {
    color: cornflowerblue;
}

.t-float, .t-int {
    color: mediumseagreen;
}

.t-string {
    color: mediumseagreen;
}

.t-UUID {
    color: orange;
}

.t-Enum {
    color: indianred;
}