.typeDetail {
    /*min-width: 10vw;*/
    padding: 2%;
    font-size: 120%;
    margin-right: 1vw;
    margin-bottom: 2vh;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(5,86,92,0.59);
    border: 1px solid black;
    border-radius: 20px;
}

.typeDetailTitle {
    font-weight: bold;

}

.typeDetailContent {

}

.typeDetailTitle:hover {
    cursor: pointer;
}

.typeDetailRename {

}