.typeDetail {
    /*min-width: 10vw;*/
    padding: 3%;
    /*font-size: 120%;*/
    /*margin-right: 1vw;*/
    margin-top: 1vh;
    margin-right: 1vh;
    vertical-align: top;
    display: block;
    /*width: fit-content;*/
    border: 1px solid black;
    /*width: 10vw;*/
    /*border-radius: 0px;*/
}

.typeDetailTitle {
    font-weight: bold;

}

.typeDetailContent {

}

.typeDetailTitle:hover {
    cursor: pointer;
}

.typeDetailRename {

}

.t-Schema {
    background-color: lightblue;
}

.t-float {
    background-color: green;
}

.t-string {
    background-color: mediumseagreen;
}

.t-UUID {
    background-color: lightgoldenrodyellow;
}

.t-Enum {
    background-color: thistle;
}