.typeDetail {
    /*min-width: 10vw;*/
    padding: 3%;
    font-size: 120%;
    margin-right: 1vw;
    margin-bottom: 2vh;
    vertical-align: top;
    display: inline-block;
    border: 1px solid black;
    border-radius: 100px;
}

.typeDetailTitle {
    font-weight: bold;

}

.typeDetailContent {

}

.typeDetailTitle:hover {
    cursor: pointer;
}

.typeDetailRename {

}

.t-Schema {
    background-color: lightblue;
}

.t-float {
    background-color: green;
}

.t-string {
    background-color: mediumseagreen;
}

.t-UUID {
    background-color: yellow;
}

.t-Enum {
    background-color: orange;
}