.typeDetail {
    min-width: 10vw;
    padding: 1%;
    font-size: 120%;
    margin-left: 2vw;
    margin-top: 1vh;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    background-color: rgba(5,86,92,0.59);
}

.typeDetailTitle {
    font-weight: bold;

}

.typeDetailContent {

}

.typeDetailTitle:hover {
    cursor: pointer;
}

.typeDetailRename {
    width: 5vw

}