:root {
  background-color: rgba(48,92,51,0.54);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.codesnippet {
   background-color: #e8fffe;
  width: fit-content;
  padding: 1%;
  border: 1px solid gray;

}

