#save_button {
    padding: 2%;
    font-weight: bold;
    font-size: 110%;
    border: 1px solid black;
    margin-top: 1%;
    border-radius: 5px;
    background-color: lightgreen;
    display: inline-block;
}

#save_button:hover {
    cursor: pointer;
}