#about_button {
    padding: 1.2%;
    font-weight: bold;
    font-size: 110%;
    border: 1px solid black;
    margin-top: 1%;
    border-radius: 5px;
    background-color: lightblue;
    display: inline-block;
    /*height: 2vh;*/
    margin-left: 0.5vw;
}

#about_button:hover {
    cursor: pointer;
}