#results_wrapper {
    /*padding-top: 1vh;*/
    /*padding-left: 1vw;*/
    /*padding-right: 1vw;*/
    height: 100vh;
    width: 12vw;
    /*margin-left: 1vw;*/
    float: right;
    overflow-y: auto;
    text-align: left;

}