#results_wrapper {
    /*border: 3px dashed black;*/
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    height: 62vh;
    width: 35vw;
    margin-right: 1vw;
    margin-left: 4vw;

    background-color: #e8fffe;

    overflow-y: auto;

    text-align: center;
    display: inline-block;

}