#editor_wrapper {
  border: 1px solid #5c594e;
  height: 600px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

#title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10vh;
  color: black;
}