#tools {
    width: 8vw;
    height: 100vh;
    padding: 0;
    position: absolute;
    background-color: #333338;
}

.tool_button {
    padding: 1.2%;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 120%;
    width: 6vw;
    margin-left: 0.5vw;
    margin-top: 1vh;
    height: 4vh;
    align-items: center;

}

.tool_button * {
    margin-right: 10px;
}
