#results_wrapper {
    border: 1px solid black;
    width: 35vw;
    margin-right: 1vw;
    margin-left: 4vw;

    /*float: right;*/
    height: 70vh;
    background-color: #e8fffe;
    overflow-y: scroll;

    text-align: center;
    display: inline-block;

}