#editor_wrapper {
  border-left: 1px solid black;
  /*border-right: 1px solid black;*/
  margin-left: 8vw;
  /*border-top: 1px solid black;*/
  /*margin-top: 1vh;*/
  float: left;
  vertical-align: top;
  display: inline-block;
}