#about {
  /*border: 1px solid black;*/
  /*border-radius: 10px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  position: absolute;
  left: 0;

  width: 60vw;
  height: 72.7vh;
  padding: 2%;
  background-color: rgba(255,253,240,0.3);
  padding-left: 20vw;
  padding-right: 20vw;
  overflow-y: scroll;
}

