#about {
  padding-left: 3.8vw;
  padding-right: 3.8vw;
  padding-top: 4vh;
  overflow-y: auto;
  width: 71vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

#about_wrapper {

  background-color: #333338;
}

