#share_button {

    background-color: lightgoldenrodyellow;
}

#share_button:hover {
    cursor: pointer;
}

#share_content {
    border: 1px solid black;
    margin-left: 9vw;
    background-color: white;
    width: 33vw;
    text-align: justify;
}

#share_content p {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    padding: 0;

}

.copy_button:hover {
    cursor: pointer;
}